@font-face {
    font-family: "playfairdisplays";
    font-display: swap;
    font-size: normal;
    font-weight: 400;
    src:local('playfairdisplaysc-regular'),
    url('../fonts/playfairdisplay-regular-webfont.woff2') format('woff2'),
    url('../fonts/playfairdisplay-regular-webfont.woff') format('woff');
}
@font-face {
    font-family: "roboto";
    font-display: swap;
    font-size: normal;
    font-weight: 400;
    src:local('roboto-regular'),
    url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
    url('../fonts/roboto-regular-webfont.woff') format('woff');
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{

    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
body {
    font-family:'roboto', sans-serif;
    color: var(--bottum-color);
    background-color:  var(--wite-color);
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
   
}


a {
    text-decoration: none;
  }

  ul {
    list-style: none;
  }

:root {
    --wite-color: #ffffff;
    --footer-color: #8f7877;
    --about-color: #c9cebd;
    --about-color-2: #a2ae98;
    --header-color: #ebe4de;
    --bottum-color: #483e2e;
}

.header {
  background-color: var(--header-color);
}

.header-contact {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  box-shadow: 0px 5px 20px rgb(0 0 0 / 20%)
}
.header-telefon {
  color: var(--bottum-color);
}
.header-emil {
  color: var(--bottum-color);
}

.nav__list {
  display: flex;
  padding:  20px 0 ;
  justify-content: space-between;
}



.nav-link {
  position: relative;
  font-size: 16px;
  color: var(--bottum-color);
  
}

.btn-5 {
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-5:hover {
  color: #483e2e;
  background: transparent;
   box-shadow:none;
}
.btn-5:before,
.btn-5:after{
  content:'';
  position:absolute;
  top: -3px;
  right:0;
  height: 2px;
  width:0;
  background: #483e2e;

  transition:400ms ease all;
}

.btn-5:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom: -3px;
}
.btn-5:hover:before,
.btn-5:hover:after{
  width:100%;
  transition:800ms ease all;
}


.btn-6 {
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-6:hover {
  color: var(--wite-color);
  background: transparent;
   box-shadow:none;
}
.btn-6:before,
.btn-6:after{
  content:'';
  position:absolute;
  top: -3px;
  right:0;
  height: 2px;
  width:0;
  background: var(--wite-color);

  transition:400ms ease all;
}

.btn-6:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom: -3px;
}
.btn-6:hover:before,
.btn-6:hover:after{
  width:100%;
  transition:800ms ease all;
}

.hero {
  background-color: var(--header-color);
}

.hero-container-block {
  padding-top: 26px;

}

.hero-container-heading-block {
  margin: auto;
  width: 700px;
  
}

.hero-container-heading {
  font-family: 'playfairdisplays';
  text-align: center;
  font-size: 80px;
  font-weight: 200;
  color: var(--bottum-color);
  margin: 60px 0px 0px 0px;
  transform: translate(0px,80%);
  opacity: 0 ;
  transition: all 1s ease 0s;
}

.hero-container-text {
  font-family: 'playfairdisplays';
  text-align: end;
  padding: 20px 0 0;
  color: var(--bottum-color);
  font-size: 27px;
  transform: translate(0px,80%);
  opacity: 0 ;
  transition: all 1.3s ease 0.4s;
}

/* .video {
  margin: 200px 0px 0px;
}

.video-item {
  width: 325px;
} */

.hero-container-img {
  position: relative;
  top: 70px;

}

.block-row {
  align-items: flex-end;
}

.hero-img1 {
  background-image: url(/img/architecture-5583025_640.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  box-shadow: 0px 18px 20px -9px rgba(0, 10, 30, 0.75);
  transform: translate(0px,80%);
  opacity: 0 ;
  transition: all 1.3s ease 0.2s;
  

}

.hero-img2 {
  background-image: url(/img/photo_2022-11-14_14-24-17.jpg);
   background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
  box-shadow: 0px 18px 20px -9px rgba(0, 10, 30, 0.75);
  transform: translate(0px,80%);
  opacity: 0 ;
  transition: all 1.2s ease 0s;
}

._active {
    transform: translate(0px,0px);
    opacity: 1;
}

.hero-img3 {
  background-image: url(/img/living-room-1835923_640.jpg);
   background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  box-shadow: 0px 18px 20px -9px rgba(0, 10, 30, 0.75);
  transform: translate(0px,80%);
  opacity: 0 ;
  transition: all 1.5s ease 0.4s;
}

.hero-img3._active {
    transform: translate(0px,0px);
    opacity: 1;
}


 /* .swiper {
  position: absolute;
  padding: 0;
  width: 700px;
  height: 700px;
}
.swiper-pagination-bullet {
  background-color: var(--wite-color);
}
.slide1 {
  background-image: url('../img/swipe-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

}
.slide2 {
  background-image: url('../img/swiper2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

}
.slide3 {
  background-image: url('../img/swiper3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

} */



.header-inner {
  padding: 0;
  background-color: var(--wite-color);
}

.hero-content {
  /* background-image: url(/img/photo_2022-11-14_14-24-16.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  background-color: var(--about-color);
  
}

.portfolio {
  margin-top: 180px;
}

.portfolio-anim {
  transform: translate(0px,30%);
  opacity: 0 ;
  transition: all 1.5s ease 0;
}

.portfolio-anim._active {
  transform: translate(0px,0px);
  opacity: 1;
}

.portfolio-text {
  font-family: 'playfairdisplays';
  font-size: 45px;
  font-weight: 200;
  margin: 60px 0 60px 0;
  
}

#more{
  display: none;
  opacity: 1;
  margin-top: 0;
}
/* #btn {
  font-family: 'roboto';
  background-color: var(--footer-color);
  color: var(--wite-color);
  padding: 20px 25px;
  border: none;
  font-size: 13px;
  cursor: pointer;

} */

.button {
 text-align: center;
 margin: 50px 0 50px 0;
}

.custom-btn {
  color: var(--bottum-color);
  font-family: 'roboto', sans-serif;
  padding: 25px 40px;
  border: 3px solid var(--bottum-color);
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
 
  outline: none;
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--bottum-color);
  transform: translateY(-0.25em);
}

.card {
  position: relative;
  height: 300px;
  overflow: hidden;
  border-radius: 0px;
  box-shadow: 0px 10px 20px -9px rgba(0, 0, 0, 0.5);
  text-align: center;
  transform: translate(80%,0px);
  opacity: 0 ;
  transition: all 1.3s ease 0.2s;
}

.card2 {
   transform: translate(-80%,0px);
  opacity: 0 ;
  transition: all 1.3s ease 0.2s;
}

.card:nth-child(1) {
   transition: all 1.3s ease 0.0s;
}

.card:nth-child(2) {
   transition: all 1.3s ease 1s;
}

.card:nth-child(3) {
   transition: all 1.3s ease 0.2s;
}

.card:nth-child(4) {
   transition: all 1.3s ease 0.3s;
}

.card:nth-child(5) {
   transition: all 1.3s ease 0.4s;
}

.card:nth-child(6) {
   transition: all 1.3s ease 0.5s;
}

.card:nth-child(7) {
   transition: all 1.3s ease 0.6s;
}

.card:nth-child(8) {
   transition: all 1.3s ease 0.7s;
}

.card._active {
  transform: translate(0px,0px);
  opacity: 1;
}

.card-img1 {
  background: url('../img/card-img1.jpg') center no-repeat;
  background-size: cover;
}

.card-img2 {
  background: url('../img/card-img2.jpg') center no-repeat;
  background-size: cover;
}

.card-img3 {
  background: url('../img/card-img3.jpg') center no-repeat;
  background-size: cover;
}

.card-img4 {
  background: url('../img/card-img4.jpg') center no-repeat;
  background-size: cover;
}

.card-img5 {
  background: url('../img/card-img5.jpg') center no-repeat;
  background-size: cover;
}

.card-img6 {
  background: url('../img/card-img6.jpg') center no-repeat;
  background-size: cover;
}

.card-img7 {
  background: url('../img/card-img7.jpg') center no-repeat;
  background-size: cover;
}

.card-img8 {
  background: url('../img/card-img8.jpg') center no-repeat;
  background-size: cover;
}

.card-img9 {
  background: url('../img/card-img9.jpg') center no-repeat;
  background-size: cover;
}

.card-img10 {
  background: url('../img/card-img10.jpg') center no-repeat;
  background-size: cover;
}

.card-img11{
  background: url('../img/card-img11.jpg') center no-repeat;
  background-size: cover;
}

.card-img12 {
  background: url('../img/card-img12.jpg') center no-repeat;
  background-size: cover;
}

.card:hover {
  box-shadow: 0px 18px 20px -9px rgba(0, 10, 30, 0.75);
  
}
.color-overlay:hover {
  background: rgba(64, 64, 70,0.8);
}
.card:hover .card-body {
  opacity: 1;
  bottom: 100px;
  /* box-shadow: 0px 18px 20px -9px rgba(0, 10, 30, 0.75); */
}

.card-body {
 position: absolute;
 box-sizing: border-box;
 color: var(--wite-color);
 padding: 0;
 width: 100%;
 bottom: -40px;
 left: 0;
 margin: 0 auto;
 padding: 0 50px;
 font-style: 16px;
 line-height: 24px;
 z-index: 20;
 opacity: 0;
 transition: bottom 0.64s, opacity 0.63s cubic-bezier(0.33, 0.66, 0.66, 1);
}



.card-body:hover span{
  box-shadow: 0px 18px 20px -9px rgba(0, 10, 30, 0.75);
  filter: brightness(10);
  opacity:1
}

.color-overlay {
  width: 100%;
  height: 300px;
  z-index: 10;
  left: 0;
  transition: background 0.5s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.about {
  background: linear-gradient(135deg, #c9cebd, #a2ae98);
}

.about-inner {
  padding: 0 20px 60px;
}

.about-text {
  font-family: 'playfairdisplays';
  font-size: 45px;
  font-weight: 200;
  padding: 60px 0 60px 0;
}

.about-img {
  background-image: url(../img/photo_2022-11-14_14-24-16.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 353px; 
  margin-right: 30px;
  transform: translate(-80%,0px);
  opacity: 0 ;
  transition: all 1s ease 0s;
}

.about-img._active {
  opacity: 1;
  transform: translate(0px,0px);

}

.about-content {
  transform: translate(0px,50%);
  opacity: 0 ;
  transition: all 1s ease 0.4s;
}

.about-content._active {
  opacity: 1;
  transform: translate(0px,0px);

}


.service-heading {
  font-family: 'playfairdisplays';
  font-size: 45px;
  font-weight: 200;
  padding: 60px 0 60px 0;

}

.wrapper {
  padding-bottom: 60px;
}

.cols{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.co{
  width: calc(25% - 2rem);
  margin: 1rem;
  cursor: pointer;
   transform: translate(-80%,0px);
  opacity: 0 ;
  transition: all 1.3s ease 0.2s;
}

.co:nth-child(1) {
   transition: all 1.3s ease 0.0s;
}

.co:nth-child(2) {
   transition: all 1.3s ease 0.1s;
}

.co:nth-child(3) {
   transition: all 1.3s ease 0.2s;
}

.co:nth-child(4) {
   transition: all 1.3s ease 0.3s;
}

.co:nth-child(5) {
   transition: all 1.3s ease 0.4s;
}

.co:nth-child(6) {
   transition: all 1.3s ease 0.5s;
}

.co:nth-child(7) {
   transition: all 1.3s ease 0.6s;
}

.co:nth-child(8) {
   transition: all 1.3s ease 0.7s;
}

.co._active {
 transform: translate(0px,0px);
 opacity: 1;
}

.box{
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.front,
.back{
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
  /* border-radius: 10px; */
  background-position: center;
  -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  text-align: center;
  min-height: 280px;
  height: auto;
  /* border-radius: 10px; */
  color: #fff;
  font-size: 1.5rem;
}

.back{

  background: linear-gradient(225deg,  #a7c385    0%,#87bfdd  100%);
}

.front {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center ;
}
.front1 {
   background-image: url(/img/front1.png);
}

.front2 {
   background-image: url(/img/front2.png);
}

.front3 {
   background-image: url(/img/front3.png);
}

.front4 {
   background-image: url(/img/front4.png);
}

.front5 {
   background-image: url(/img/front5.png);
}

.front6 {
   background-image: url(/img/front6.png);
}

.front7 {
   background-image: url(/img/front7.png);
}

.front8 {
   background-image: url(/img/front8.png);
}

.front:after{
  position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #50563f;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    /* border-radius: 10px; */
}
.box:hover .front,
.box:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    font-size: 16px;
    padding: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
}

.box .back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.box .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.box:hover .back{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.box:hover .front{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.front .inner p{
  font-size: 20px;
  line-height: 30px;
  position: relative;
}


@media screen and (max-width: 64rem){
  .co{
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem){
  .co{
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem){
  .co{
    width: 100%;
    margin: 0 0 2rem 0;
  }
}

.contact {
  background-color: #c9cebd;
}

.contact-contact {
  padding-bottom: 20px;
}

.contact-heading {
  font-family: 'playfairdisplays';
  font-size: 45px;
  font-weight: 200;
  padding: 30px 0 30px 0;
  color: var(--buttom-color);
}

.contact-container {
  padding: 20px 0 20px
}

.contact-list {
  position: relative;
}

.contact-link {
  display: flex;
  list-style: none;
}

.contact-telefon {
  position: absolute;
  top: 8px;
}

.contact-maill {
  position: absolute;
  top: 82px;
}

.contact-adres {
  position: absolute;
  top: 155px;
  left: -3px;
}

.contact-item {
  color: var(--buttom-color);
  margin: 0 0 25px 45px;
}

.item-telefon {
  color: var(--buttom-color);
  margin: 0 0 11px;
}

.item-number {
  color: var(--buttom-color);
}

.item-maill {
  color: var(--buttom-color);
  margin: 0 0 11px;
}

.item-adres {
  margin: 0 0 11px;
}

.social-list {
  list-style: none;
  display: flex;
}

.social-link:not(:last-child) {
 margin-right: 25px;
}
.social {
  width: 60px;
  height: 60px;
  fill: none;
}

 .social path {
  fill: var(--bottum-color);
   transition: fill 0.7s ease;
}

.social:hover {
  transition: filter  0.7s ease;
  filter: drop-shadow(9px 7px 2px rgba(0,0,0,0.6));
}

.social:hover path {
  fill: var(--footer-color);
}

.swiper {
        width: 240px;
        height: 320px;
      }

      .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 18px;
        font-size: 22px;
        font-weight: bold;
        color: #fff;
      }

      .swiper-slide:nth-child(1n) {
        background-color: rgb(206, 17, 17);
      }

      .swiper-slide:nth-child(2n) {
        background-color: rgb(0, 140, 255);
      }

      .swiper-slide:nth-child(3n) {
        background-color: rgb(10, 184, 111);
      }

      .swiper-slide:nth-child(4n) {
        background-color: rgb(211, 122, 7);
      }

      .swiper-slide:nth-child(5n) {
        background-color: rgb(118, 163, 12);
      }

      .swiper-slide:nth-child(6n) {
        background-color: rgb(180, 10, 47);
      }

      .swiper-slide:nth-child(7n) {
        background-color: rgb(35, 99, 19);
      }

      .swiper-slide:nth-child(8n) {
        background-color: rgb(0, 68, 255);
      }

      .swiper-slide:nth-child(9n) {
        background-color: rgb(218, 12, 218);
      }

      .swiper-slide:nth-child(10n) {
        background-color: rgb(54, 94, 77);
      }


.recall-haeding {
  font-family: 'playfairdisplays';
  font-size: 45px;
  font-weight: 200;
  padding: 30px 0 30px 0;
  color: var(--buttom-color);
}

.footer {
  background-color: #6c6061;
}

.footer-container {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-container-nav {
  margin-right: auto;
}

.footer-nav__list {
  display: flex;
  
}
.footer-nav-item {
  margin-right: 30px;
}
.footer-nav-link {
  position: relative;
  font-size: 16px;
  color: var(--wite-color);
}

.footer-contact-link {
  display: flex;
  align-items: center;
  color: var(--wite-color);
}

.footer-contact-item {
  margin-left: 10px;
}



.t706 {
    position: relative;
    left: 0%;
    top: 0px;
    width:100%;
    z-index:9999999;
}

    .blkElem {
      pointer-events:none; 
    }

    .cartcopyanim {
     -webkit-animation: t706__pulse-anim 0.6s;
     animation: t706__pulse-anim 0.6s;
    }

    .t706__carticon {
      display: block !important;
    }
    
    .t706__carticon-img {
      height: 0px; left: 200% !important;
    
    }
    .t706__carticon-imgwrap {
      height: 0px; left: 200% !important;
    
    }
    .t706__carticon-counter {
      height: 0px; left: 200% !important;
    
    }
    .t706__carticon-wrapper {
      height: 0px; left: 200% !important;
    
    }
    
    .t706__carticon-text.t-name.t-name_xs {
        font-size: 17px; 
        position: relative;
        top: 50px;
        left: -30px;
        border-radius: 0;
    }
    
    .t-name {
    font-family: 'Montserrat',Arial,sans-serif;
    font-weight: 400;
    position: relative;
}

